parameters:
    doctrine:
        objectManagerLoader: tests/object-manager.php

    ignoreErrors:
        - message: "#Cannot access offset '[a-zA-Z0-9\\_]+' on mixed.#"
          paths:
            - src/Device/Infrastructure/Symfony/Forms/DeviceFeaturesFormType.php
            - src/Core/Application/FormParser/FormParser.php
        - message: "#^Cannot access offset 'CHANGE_DETECTION…' on mixed\\.$#"
          path: src/Core/Application/FormParser/FormParser.php
        - message: "#^Cannot access offset 'CHANpGE_COLOR_LIGHT…' on mixed\\.$#"
          path: src/Core/Application/FormParser/FormParser.php
