{% extends 'base.html.twig' %}

{% block title %} Login Panel {% endblock %}

{% block body %}

    <a href="{{ path('connect_google_start') }}">
        <span>Login with Google</span>
    </a>

{% endblock %}