{% extends 'base.html.twig' %}

{% block title %} Main Panel {% endblock %}

{% block body %}

    {% include('side_menu.html.twig') %}

    <a class="btn btn-primary" href="{{ path('load_main_panel') }}">
        Dashboard
    </a>

    <a class="btn btn-primary" href="{{ path('load_user_profile') }}">
        User profile
    </a>

    <a class="btn btn-primary" href="{{ path('devices') }}">
        Devices
    </a>

    <a class="btn btn-primary" href="{{ path('logout') }}">
        Logout
    </a>

{% endblock %}