{% extends 'base.html.twig' %}

{% block title %} Devices {% endblock %}

{% block body %}

    {{ include('navigation_bar.html.twig') }}

    <div class="row">
        <span>Devices</span>
    </div>

{% endblock %}
