{% extends 'base.html.twig' %}

{% block title %} Devices {% endblock %}

{#{% block stylesheets %}#}
{#    <style>#}
{#        .device-row {#}
{#            cursor: pointer;#}
{#            transition: 0.25s background-color ease-out;#}
{#        }#}
{#        .device-row:hover{#}
{#            background-color: rgba(0,0,0,0.4)#}
{#        }#}
{#    </style>#}
{#{% endblock %}#}

{% block body %}

    {{ include('navigation_bar.html.twig') }}

    <div class="container-fluid" style="margin: 16px; width: calc(100% - 32px); background-color: rgba(0,0,0,0.05); border-radius: 8px">
        <div class="row">
            <table class="table table-striped" style="margin-bottom: 0 !important;">
                <thead style="border-bottom: 2px solid rgba(0,0,0,0.2)">
                    <tr>
                        <td>
                            <span style="padding-left: 8px">Name</span>
                        </td>
                        <td style="text-align: right">
                            <span>Created At</span>
                        </td>
                        <td style="width: 32px">
                            <button class="add-button" onclick="document.location.href = './devices/creator'">
                                <i class="fa-solid fa-add"></i>
                            </button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                {% for device in devices %}
                        <tr onclick="document.location.href='./devices/{{ device.id }}'" class="device-row">
                            <td style="padding-left: 8px">
                                <span style="padding-left: 8px">{{ device.name }}</span>
                            </td>
                            <td style="text-align: right; padding-right: 8px">
                                <span>{{ device.createdAt | date('d.m.Y')}}</span>
                            </td>
                            <td></td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
